.body__info {
    display: flex;
    align-items: flex-end;
    padding: 10px;

    img {
        height: 20vw;
        box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
    }
}

.body__infoText {
    flex: 1;
    margin: 0 20px;
    strong {
        font-size: 13px;
        font-weight: 600
    }
    h2 {
        font-size: 70px;
        margin-bottom: 10px;
    }
}

.body__bio {
    display: flex;
    align-items: center;
    
    p {
        font-size: 14px;
        font-weight: 700;
    }

    h4 {
        padding-bottom: 7px;
        margin-left: 4px;
        font-size: 20px;
        color: rgb(160, 159, 159);
    }

    span {
        font-size: 14px;
        font-weight: 400;
        margin-left: 4px;
        color: rgb(163, 161, 161);
    }
}


.body__icons {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.body__shuffle {
    overflow: hidden;
    display: flex;
    padding: 0.8rem;
    background: #1DB954;
    width: 40px;
    height: 40px;
    align-items: center;
    // position: absolute;
    justify-content: center;
    border-radius: 50px;
    color: #fff;
    // transition: 0.2s ease-out;
    margin-right: 30px;

    svg {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    &:hover {
        transition: 100ms transform ease-in;
        transform: scale(1.08);
    }
}

.body__heart {
    margin-right: 30px;
    position: relative;
}

.body__songs {
    margin-top: 3rem;

    hr {
        border: 1px solid rgb(163, 161, 161);
        margin-top: -10px;
        margin-bottom: 20px;
    }
}

.songRow {
    // margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
    position: relative;

    
    &:hover {
        cursor: pointer;
        background-color: #000;
        border-radius: 06px;
        opacity: 0.1;
        &::before {
            z-index: -1;
            content: '';
            position: absolute;
        }
    }   

    .songRow__info {
        margin-left: 20px;

        h1 {
            font-size: 16px;
            color: rgb(160, 159, 159);
        }

        p {
            font-size: 14px;
            margin-top: 3px;
            color: rgb(160, 159, 159);
        }
    }

    .minSec {
        margin-left: auto;

        hr {
            color: rgb(163, 161, 161);
        }
    }
}

.songRow__title {
    // margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: rgb(163, 161, 161);

    .songRow__info {
        margin-left: 20px;

        h1 {
            font-size: 16px;
            color: rgb(160, 159, 159);
        }

        p {
            font-size: 14px;
            margin-top: 3px;
            color: rgb(160, 159, 159);
        }
    }

    .minSec {
        margin-left: auto;

    }
}