.footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    height: 55px;
    width: 97%;
    background-color: #191919;
    padding: 20px;
    z-index: 8;
}

.footer__left {
    flex: 0.2;
    color: rgb(160, 159, 159);
    display: flex;
    align-items: center;
    width: 300px;
}

.footer__albumLogo {
    height: 60px;
    width: 60px;
    object-fit: contain;
    margin-right: 20px;
} 

.footer__songInfo h4 {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 5px;
}

.footer__songInfo p {
    font-size: 12px;
    color: rgb(160, 159, 159);
}

.footer_likeButton {
    padding-left: 15px;
    color: #1DB954;
}

.footer__center {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    flex-direction: column;
    flex: 0.4;
}

.footer__controlOptions {
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 250px; */
    color: rgb(160, 159, 159);   
}

.footer__playback {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playback__timer {
    padding-left: 10px;
    padding-right: 10px;
}

.footer__playback p {
    font-size: 11px;
}

.footer__icon {
    color: rgb(160, 159, 159);
    font-size: 20px;
}

.footer__green {
    font-size: 20px;
}

.footer__playButton:hover { 
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}

.footer__sideIcon:hover {
    color: #fff;
}

.footer__icon:hover {
    color: #fff;
}

.footer__green:hover {
    color: #fff;
}

.footer__sideIcon {
    font-size: 18px;
}

.footer__playButton {
    font-size: 50px;
}

.footer__right {
    flex: 0.2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(160, 159, 159);
}

.footer__right * .MuiSvgIcon-root {
    font-size: 19px;
    color: grey;
}

.footer__volume {
    color: rgb(160, 159, 159);
}

.footer__right * .MuiSlider-root:hover {
    color: #1DB954;
    padding: 0;
}
